annotated-types==0.7.0
beautifulsoup4==4.12.3
blinker==1.8.2
cachetools==6.2.2
certifi==2025.11.12
cffi==2.0.0
charset-normalizer==3.4.4
click==8.1.7
colorama==0.4.6
cryptography==46.0.3
flask==3.0.3
flask-cors==4.0.0
gensim==4.3.3
google-ai-generativelanguage==0.6.15
google-api-core==2.28.1
google-api-python-client==2.187.0
google-auth==2.43.0
google-auth-httplib2==0.2.1
google-generativeai==0.8.5
googleapis-common-protos==1.72.0
grpcio==1.76.0
grpcio-status==1.71.2
gunicorn==21.2.0
gTTS==2.5.1
httplib2==0.31.0
idna==3.11
itsdangerous==2.2.0
Jinja2==3.1.4
joblib==1.4.2
MarkupSafe==2.1.5
networkx==3.3
nltk==3.9.1
numpy==1.26.4
oracledb==1.4.2
packaging==24.2
pandas==2.2.2
proto-plus==1.26.1
protobuf==5.29.5
psycopg2-binary
PyPDF2==3.0.1
pydantic==2.12.4
pydantic-core==2.41.5
pydub==0.25.1
pyasn1==0.6.1
pyasn1-modules==0.4.2
pycparser==2.23
pyparsing==3.2.5
python-dateutil==2.9.0.post0
pytz==2024.1
regex==2024.7.24
requests==2.31.0
rsa==4.9.1
scipy==1.13.1
six==1.16.0
smart-open==7.0.4
soupsieve==2.6
SpeechRecognition==3.10.1
tqdm==4.66.5
tzdata==2024.1
typing-extensions==4.15.0
typing-inspection==0.4.2
urllib3==2.5.0
Werkzeug==3.0.4
wrapt==1.16.0
python-dotenv

